.projects {
  position: relative;
  margin: 0 1rem 3rem 1rem;

  @media (min-width: $breakpoint-s) and (orientation: portrait) {
    margin: 0 2rem 3rem 2rem;
  }
  @media (min-width: $breakpoint-m) and (orientation: portrait) {
    margin: 0 4rem 3rem 4rem;
  }
  @media (min-width: $breakpoint-xs) and (orientation: landscape) {
    margin: 0 3rem 3rem 3rem;
  }
  @media (min-width: $breakpoint-l) and (orientation: landscape) {
    margin: 0 3rem 3rem 5rem;
  }
  @media (min-width: $breakpoint-xl) and (orientation: landscape) {
    margin: 0 8rem 3rem 8rem;
  }
  @media (min-width: $breakpoint-xl) and (orientation: landscape) {
    margin: 0 10rem 3rem 10rem;
  }

  h2 {
    margin-top: 3rem;
    font-size: 2.5rem;
    font-weight: bold;
    width: 12rem;
    border-bottom: 0.5rem solid $secondary-color;
    @media (min-width: $breakpoint-m) and (orientation: portrait) {
      font-size: 3.5rem;
      width: 16rem;
    }
    @media (min-width: $breakpoint-xl) and (orientation: landscape) {
      margin-bottom: 2rem;
    }
  }

  .portfolio {
    position: relative;
    display: flex;
    flex-direction: column;
    @media (min-width: $breakpoint-m) and (orientation: portrait) {
      margin-top: 3rem;
    }
    @media (min-width: $breakpoint-l) and (orientation: landscape) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    .imgP {
      position: relative;
      margin: 2rem auto;
      width: 18rem;
      height: 9rem;
      background-color: $primary-color;
      box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.35);
      background-size: cover;
      cursor: pointer;

      animation: rotate-in-2-cw 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

      @keyframes rotate-in-2-cw {
        0% {
          transform: rotate(-45deg);
          opacity: 0;
        }
        100% {
          transform: rotate(0);
          opacity: 1;
        }
      }

      @media (min-width: $breakpoint-m) and (orientation: portrait) {
        width: 30rem;
        height: 15rem;
        margin: 3rem auto;
      }
      @media (min-width: $breakpoint-l) and (orientation: landscape) {
        width: 25rem;
        height: 12.5rem;
      }
      @media (min-width: $breakpoint-xxl) and (orientation: landscape) {
        width: 34rem;
        height: 17rem;
      }
    }
    .imgP1 {
      background: url("../../img/1.jpg");
      background-size: cover;
    }
    .imgP2 {
      background: url("../../img/2.jpg");
      background-size: cover;
    }
    .imgP3 {
      background: url("../../img/3.jpg");
      background-size: cover;
    }
    .imgP4 {
      background: url("../../img/4.jpg");
      background-size: cover;
    }
    .imgP5 {
      background: url("../../img/5.jpg");
      background-size: cover;
    }
    .imgP6 {
      background: url("../../img/6.jpg");
      background-size: cover;
    }
    .imgP7 {
      background: url("../../img/7.jpg");
      background-size: cover;
    }
    .imgP8 {
      background: url("../../img/8.jpg");
      background-size: cover;
    }
    .imgP9 {
      background: url("../../img/9.jpg");
      background-size: cover;
    }

    .theCard {
      position: absolute;
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      transition: all 0.5s ease;
    }

    .theCard:hover {
      transform: rotateY(180deg);
    }

    .theFront {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
    }

    .theBack {
      position: absolute;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      background-color: $primary-color;
      color: $secondary-color;
      transform: rotateY(180deg);
      font-weight: 700;
      justify-content: center;
      align-items: center;
      font-size: 0.75rem;
      @media (min-width: $breakpoint-m) and (orientation: portrait) {
        font-size: 1.3rem;
      }
      @media (min-width: $breakpoint-l) and (orientation: landscape) {
        font-size: 1.4rem;
      }

      p {
        padding-top: 0.5rem;
        @media (min-width: $breakpoint-m) and (orientation: portrait) {
          padding-top: 0.8rem;
        }

        i {
          color: $secondary-color;
        }
      }
    }
  }
}
