// MEDIA QUERIES BREAKPOINTS
$breakpoint-s: 400px;
$breakpoint-xs: 600px;
$breakpoint-m: 700px;
$breakpoint-l: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-xxl: 1410px;

//COLORS
$primary-color: #fff;
$secondary-color: #222;
$third-color: #f8f8f8;

//FONTS
$primary-font: "Montserrat", sans-serif;
